@model projekat.viewModel.SkolaViewModel
@{
    ViewBag.Title = "Prisustvo";
}

<div class="row justify-content-center" style="margin-top:10px;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><h4 class="text-center" style="font-family:'Times New Roman';">Studenti</h4></div>
            <div class="card-body">
                @using (Html.BeginForm("Zakljucivanje2", "Casovi", FormMethod.Post))
                {
                        <div class="form-row">
                            <div class="col-md-4">
                                <p class="text-md-left text-black-50 text-uppercase">Ime</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-md-left text-black-50 text-uppercase">Zaključna ocena</p>
                            </div>
                        </div>
                        <hr />
                        <div class="form-row">
                            <div class="col-md-4 form-group">
                                 <label>@Model.Student.Korisnik.Ime</label>
                                @Html.HiddenFor(x=>x.Student.StudentID)
                            </div>
                            <div class="col-md-4 form-group">
                                @Html.TextBoxFor(x => x.Student.ZakljucnaOcena, new { @class = "form-control",placeholder="od 1.00 do 5.00" })
                            </div>
                        </div>
                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block mb-2">Potvrdi</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
