body{
	background-color: #d9d9d9;
}
textarea{
	resize: vertical;
	height: 150px;
	width: 300px;
}
#register{
	
	border: 1.5px solid #eeeded;
	padding: 5px 5px 5px ;
	width: 35%;
	background-color: #eee;
	margin-left: 30%;
}
#reg-div{
	align-items: center;
}
input:focus{
	border:3px solid #e6e6fa;
}
legend{
	font: bold italic 25px Arial;
	text-align: center;
}
label{
	font: 17px Arial;

}
.fpn{
	width: 50%;
}
span{
	color: red;
	font: 10px Arial;
}
.btn{
        height: 35px;
        width: 60px;
}
#upozorenje{
    color:red;
    font: 13px Arial;
}
