<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoteliPonudeServlet</servlet-name>
        <servlet-class>Servlet.HoteliPonudeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SobePonudeServlet</servlet-name>
        <servlet-class>Servlet.SobePonudeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeRezervacijeServlet</servlet-name>
        <servlet-class>Servlet.BrisanjeRezervacijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeRezervacijeServlet</servlet-name>
        <servlet-class>Servlet.DodavanjeRezervacijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <servlet-class>Servlet.PasswordChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UplataServlet</servlet-name>
        <servlet-class>Servlet.UplataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaprednaPretragaServlet</servlet-name>
        <servlet-class>Servlet.NaprednaPretragaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniTipSobeServlet</servlet-name>
        <servlet-class>Servlet.IzmeniTipSobeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiTipSobeServlet</servlet-name>
        <servlet-class>Servlet.ObrisiTipSobeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniHotelPodaciServlet</servlet-name>
        <servlet-class>Servlet.IzmeniHotelPodaciServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmestajDetaljnijeServlet</servlet-name>
        <servlet-class>Servlet.SmestajDetaljnijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiSmestajServlet</servlet-name>
        <servlet-class>Servlet.ObrisiSmestajServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeTipaSobeServlet</servlet-name>
        <servlet-class>Servlet.DodavanjeTipaSobeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeSmestajaServlet</servlet-name>
        <servlet-class>Servlet.DodavanjeSmestajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZaboravljenaLozinkaServlet</servlet-name>
        <servlet-class>Servlet.ZaboravljenaLozinkaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZaboravljenaLozinka2Servlet</servlet-name>
        <servlet-class>Servlet.ZaboravljenaLozinka2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlacanjeServlet</servlet-name>
        <servlet-class>Servlet.PlacanjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlacanjeBodoviServlet</servlet-name>
        <servlet-class>Servlet.PlacanjeBodoviServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretragaServlet</servlet-name>
        <servlet-class>Servlet.PretragaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeAdminServlet</servlet-name>
        <servlet-class>Servlet.DodavanjeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniPodaciAdminServlet</servlet-name>
        <servlet-class>Servlet.IzmeniPodaciAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniSlikuServlet</servlet-name>
        <servlet-class>Servlet.IzmeniSlikuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeServlet</servlet-name>
        <servlet-class>Servlet.BrisanjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajNalogServlet</servlet-name>
        <servlet-class>Servlet.DodajNalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniServlet</servlet-name>
        <servlet-class>Servlet.IzmeniServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoteliPonudeServlet</servlet-name>
        <url-pattern>/HoteliPonudeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SobePonudeServlet</servlet-name>
        <url-pattern>/SobePonudeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeRezervacijeServlet</servlet-name>
        <url-pattern>/BrisanjeRezervacijeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeRezervacijeServlet</servlet-name>
        <url-pattern>/DodavanjeRezervacijeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <url-pattern>/PasswordChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UplataServlet</servlet-name>
        <url-pattern>/UplataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaprednaPretragaServlet</servlet-name>
        <url-pattern>/NaprednaPretragaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniTipSobeServlet</servlet-name>
        <url-pattern>/IzmeniTipSobeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiTipSobeServlet</servlet-name>
        <url-pattern>/ObrisiTipSobeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniHotelPodaciServlet</servlet-name>
        <url-pattern>/IzmeniHotelPodaciServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmestajDetaljnijeServlet</servlet-name>
        <url-pattern>/SmestajDetaljnijeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiSmestajServlet</servlet-name>
        <url-pattern>/ObrisiSmestajServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeTipaSobeServlet</servlet-name>
        <url-pattern>/DodavanjeTipaSobeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeSmestajaServlet</servlet-name>
        <url-pattern>/DodavanjeSmestajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZaboravljenaLozinkaServlet</servlet-name>
        <url-pattern>/ZaboravljenaLozinkaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZaboravljenaLozinka2Servlet</servlet-name>
        <url-pattern>/ZaboravljenaLozinka2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlacanjeServlet</servlet-name>
        <url-pattern>/PlacanjeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlacanjeBodoviServlet</servlet-name>
        <url-pattern>/PlacanjeBodoviServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretragaServlet</servlet-name>
        <url-pattern>/PretragaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeAdminServlet</servlet-name>
        <url-pattern>/DodavanjeAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniPodaciAdminServlet</servlet-name>
        <url-pattern>/IzmeniPodaciAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniSlikuServlet</servlet-name>
        <url-pattern>/IzmeniSlikuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeServlet</servlet-name>
        <url-pattern>/BrisanjeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajNalogServlet</servlet-name>
        <url-pattern>/DodajNalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniServlet</servlet-name>
        <url-pattern>/IzmeniServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
